<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Helsgardin Brewing - Beers</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap"
      rel="stylesheet"
    />
    <style>
      {%CSSSTYLING%}
    </style>
  </head>
  <body>
    <h1>Beer Details</h1>
    <a href="/" class="beer-card--button">👈 Go Back</a>
    <div class="beer-card--flagship">
      <div class="beer-card--image-container">
        <img class="beer-card--image" src="{%IMAGEPATH%}" alt="Beer Photo" />
        <div class="beer-card--image-icon icon--gold-medal">
          <div class="award-text">{%AWARDS%}</div>
        </div>
      </div>
      <h3>{%NAME%}</h3>
      <p class="beer-card--style">{%STYLE%}</p>
      <p class="beer-card--abv-ibu">{%ABV%}% | {%IBU%}IBU</p>
      <p class="beer-card--description">{%DESCRIPTION%}</p>
      <div class="beer-card--ingredient beer-card--malt">
        <div class="beer-card--ingredients-icon icon--malt"></div>
        {%INGREDIENT_MALT%}
      </div>
      <div class="beer-card--ingredient beer-card--hops">
        <div class="beer-card--ingredients-icon icon--hops"></div>
        {%INGREDIENT_HOPS%}
      </div>
      <div class="beer-card--ingredient beer-card--yeast">
        <div class="beer-card--ingredients-icon icon--yeast"></div>
        {%INGREDIENT_YEAST%}
      </div>
      <div class="beer-card--ingredient beer-card--extra">
        <div class="beer-card--ingredients-icon icon--extra"></div>
        {%INGREDIENT_EXTRA%}
      </div>
      <div class="beer-card--ingredient beer-card--fruit">
        <div class="beer-card--ingredients-icon icon--fruit"></div>
        {%INGREDIENT_FRUIT%}
      </div>

      <!-- <p class="tap-card--brewer-title">Brewers:</p>
  <div class="tap-card--container--brewer-icons">{%BREWERICONS%}</div>
  <p class="tap-card--release-date">Released: {%RELEASEDATE%}</p> -->
    </div>
  </body>
</html>
