<div class="tap-card">
  <div class="tap-card--image-wrapper">
    <img
      src="resources/svg/pint-fill.svg"
      alt="Beer In Pint Glass"
      class="tap-card--image"
      data-color="purple"
    />
    <img
      src="resources/svg/pint-head.svg"
      alt="Head of Beer"
      class="tap-card--image"
      data-color="white"
    />
    <img
      src="resources/svg/pint-outline.svg"
      alt="Pint of beer"
      class="tap-card--image"
    />
  </div>
  <p class="tap-card--beer-name">Mixed Berry Syrup Sour</p>
  <p class="tap-card--beer-style">Berliner Weisse - Fruited</p>
  <p class="tap-card--beer-abv-ibu">3.2% | 0.3 IBU</p>
  <p class="tap-card--beer-description">
    Sour beer brewed with a hand-crafted berry syrup. Blueberries, strawberries,
    blackberries, and raspberries come out to play in this one.
  </p>
  <p class="tap-card--brewer-title">Brewers:</p>
  <div class="tap-card--container--brewer-icons">
    <div class="tap-card--brewer-image" data-brewer="John" alt="John"></div>
    <div class="tap-card--brewer-image" data-brewer="Andrew" alt="Andrew"></div>
    <div class="tap-card--brewer-image" data-brewer="Sarah" alt="Sarah"></div>
  </div>
  <p class="tap-card--release-date">Released: 5/7/21</p>
  <div class="tap-card--ingredients">
    <p>Nerd Stuff</p>
    <ul class="tap-card--ingredients-dropdown">
      <li class="tap-card--ingredient">
        <div class="tap-card--ingredients-icon icon--malt"></div>
        Pilsner, Pale Wheat
      </li>
      <li class="tap-card--ingredient">
        <div class="tap-card--ingredients-icon icon--hops"></div>
        Hersbrucker
      </li>
      <li class="tap-card--ingredient">
        <div class="tap-card--ingredients-icon icon--yeast"></div>
        Omega Lutra Kveik
      </li>
      <li class="tap-card--ingredient">
        <div class="tap-card--ingredients-icon icon--extra"></div>
        Goodbelly® Mango Probiotic
      </li>
    </ul>
  </div>
</div>
